# Root .gitignore
.idea/
.vscode/
*.log

# MisoCash
MisoCash/.dart_tool/
MisoCash/.flutter-plugins
MisoCash/.flutter-plugins-dependencies
MisoCash/.metadata
MisoCash/.packages
MisoCash/.pub-cache/
MisoCash/.pub/
MisoCash/build/

# Backend
backend/.n8n/
backend/n8n_data/
backend/db_data/
