# Root .gitignore
.idea/
.vscode/
*.log

# Smart Spend
smart_spend/.dart_tool/
smart_spend/.flutter-plugins
smart_spend/.flutter-plugins-dependencies
smart_spend/.metadata
smart_spend/.packages
smart_spend/.pub-cache/
smart_spend/.pub/
smart_spend/build/

# Backend
backend/.n8n/
backend/n8n_data/
backend/db_data/
